

.App {
  text-align: center;
  
}
.bg-blue{
  background-color: #353f4b;
}
.text-blue{
  color: #353f4b;
}

.vh-100{
  min-height: 100vh;
}

.list-group-item{
  border: 0;
  border-bottom: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
}
.list-group-item:last-child{
  border: 0;
}

.container-body{
  min-height: calc( 100vh - 68px );
  background-color: #fff;
}
.avatar-box-shadow{
  box-shadow: 4px 5px 5px 1px rgba(0,0,0,0.14);
-webkit-box-shadow: 4px 5px 5px 1px rgba(0,0,0,0.14);
-moz-box-shadow: 4px 5px 5px 1px rgba(0,0,0,0.14);
}
.fs-13px{
  font-size: 13px;
}

.border-card-title{
  display: inline-block;
  width: 90px;
  height: 12px;
  background-color: #c53e4c;
  border-radius: 2px;
  margin-bottom: 2px;
}